@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* body {
  position: relative;
} */

/* Nav bar styles */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.nav_row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0 20px;
}

header {
  width: 100%;
  max-width: 2000px;
  background-color: #2f3d54;
  height: 120px;
  margin: 0 auto;
}

.nav_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movies_logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.nav_links {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav_link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: relative;
}

.nav_link:hover {
  color: #ff6f61;
  transition: color 0.3s ease;
}

.movies_logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.nav_title {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-left: 10px;
}

/* Home Page Styles */

.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-height: 2000px;
  max-width: 2000px;
  margin: 0 auto;
  gap: 30px;
  position: relative;
}

.home_row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 75%;
  padding: 0 20px;
}
.home_span {
  width: 100%;
  height: calc(100% / 4);
}

.theater_screen {
  z-index: -1;
  position: absolute;
  width: 100%;
  max-width: 2000px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theater_screen-img {
  width: 100%;
  max-width: 2000px;
  height: 100%;
}

.home_title {
  color: #2f3d54;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.home_description {
  font-size: 20px;
  font-weight: bold;
  color: #2f3d54;
  text-align: center;
  padding: 0 20px;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 16px;
}

.play_button {
  width: 100%;
  height: 50px;
}

.play_button-link {
  color: #2f3d54;
}

.play_button-link:hover {
  color: #ff6f61;
  transition: color 0.3s ease;
}

/* Search page*/
.results_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 90vh;
}

.search_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 5%;
  gap: 30px;
}

.search_title {
  color: #2f3d54;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.search_description {
  font-size: 18px;
  font-weight: bold;
  color: #2f3d54;
  text-align: center;
}
.search_wrapper {
  display: flex;
  width: 80%;
}

input {
  border: 1px solid #24242463;
  border-radius: 20px;
  width: 100%;
  height: 70px;
  text-align: center;
  font-size: 24px;
  color: #2f3d54cc;
}

.search_button {
  width: 200px;
  margin-left: 20px;
  border-radius: 20px;
  border: none;
  background-color: #2f3d54;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 7px 7px 14px #2f3d545e;
  transition: all 300ms ease;
}

.search_button:hover {
  background-color: #1155c2;
  box-shadow: 4px 4px 8px #1155c25e;
}

.search_results_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding-bottom: 12px;
}

.search_results_img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2f3d54;
  padding-bottom: 28px;
  height: 50vh;
}

.search_results_img {
  color: #1155c2;
  width: 25%;
  border-radius: 20px;
  opacity: 0.75;
}

.results_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 40px;
  padding: 20px 0;
  margin: 0 40px;
}

.results_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  gap: 40px;
}

.results_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  padding: 0 16px;
}

.results_title {
  font-size: 28px;
  padding-left: 16px;
  color: #2f3d54;
  font-weight: bold;
}

select {
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  background-color: #b6c9e7;
}

.movie_poster-wrapper {
  width: 300px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no_poster {
  width: 300px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  background-color: #2f3d54;
  color: white;
}

.movie_card_wrapper {
  width: calc(100% / 3);
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie_card {
  width: 300px;
  height: 550px;
  padding: 10px;
  box-shadow: 7px 7px 14px #2f3d545e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  color: #2f3d54;
  gap: 8px;
}
.movie_card:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 8px #1155c25e;
}

/* Movie Details Page */

.movie_container {
  min-height: 90vh;
}

.movie_information {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 40px;
  justify-content: space-between;
}

.poster_wrapper {
  width: 100%;
  max-width: 400px;
  height: auto;
  box-shadow: 7px 7px 14px #2f3d545e;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poster_wrapper figure {
  width: 100%;
  height: 100%;
}

.poster_wrapper figure img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
  font-size: 20px;
}

.movie_info-wrapper {
  width: 60%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.movie_info_title {
  font-size: 32px;
  color: #2f3d54;
}

.movie_info {
  font-size: 16px;
  color: #2f3d54;
}

.movie_summary {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 40px 20px;
}

/* About Page */

.about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: 1800px;
  margin: 0 auto;
  padding: 5%;
  gap: 30px;
}

.about_title {
  color: #2f3d54;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.about_info {
  font-size: 18px;
  font-weight: bold;
  color: #2f3d54;
  text-align: center;
}

/* Footer Styles */

footer {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_wrapper {
  width: 100%;
  height: auto;
  max-width: 2000px;
  background-color: #2f3d54;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
}

.footer_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.footer_text {
  padding-bottom: 20px;
}

@media (max-width: 992px) {
  .home_container {
    gap: 0px;
  }
  .movie_link_card {
    width: 100%;
  }
  .movie_card_wrapper {
    width: calc(100% / 2);
  }
  .movie_results_poster {
    width: 100%;
  }
  .movie_poster-wrapper {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .home_title {
    font-size: 32px;
  }
  .home_description {
    font-size: 16px;
  }
  .input_wrapper {
    text-align: center;
    font-size: 12px;
  }
  .movies_logo {
    height: 60px;
    width: 60px;
  }
  header {
    height: 100px;
  }
  .nav_title {
    font-size: 28px;
  }
  .nav_link {
    font-size: 14px;
  }
  footer {
    font-size: 12px;
    height: 100px;
  }
  .footer_text {
    padding-bottom: 8px;
  }
  .movie_card_wrapper {
    width: calc(100% / 2);
  }
  .movie_container {
    min-height: 90vh;
  }
}

@media (max-width: 480px) {
  .movie_card_wrapper {
    width: 100%;
  }
  .search_wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .search_button {
    width: 100%;
    margin-left: 0;
  }
  .results_header {
    flex-direction: column;
    gap: 16px;
  }
  .nav_title {
    font-size: 24px;
  }
  .nav_link {
    font-size: 12px;
  }
  .search_container {
    gap: 16px;
  }
  .home_title {
    font-size: 20px;
  }
  .home_description {
    font-size: 14px;
  }
  .movie_information {
    flex-direction: column;
    align-items: center;
  }
  .movie_container {
    height: auto;
  }
}
